In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time
from selenium.webdriver.common.action_chains import ActionChains
from bs4 import BeautifulSoup
from selenium.webdriver.chrome.options import Options
import requests
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.support.ui import Select
from selenium.common.exceptions import NoSuchElementException, ElementClickInterceptedException
import os
import csv

In [9]:
# Enable verbose logging
options = webdriver.ChromeOptions()
options.add_argument("--verbose")

driver = webdriver.Chrome(options=options)
driver.get('https://collegedunia.com/usa/business-analytics/master-universities')

# Pause to allow page elements to load
time.sleep(5)

def close_popup(driver):
    try:
        # Set a timeout duration for the wait
        timeout = 10  # seconds
        
        # Wait until the pop-up is present
        time.sleep(10)
        close_button = driver.find_element(By.CLASS_NAME, "lead-close-icon")
        
        # Once clickable, click the close button to close the pop-up
        close_button.click()
        print("Pop-up closed.")
    except TimeoutException:
        print("No pop-up appeared within the timeout period.")
    except NoSuchElementException:
        print("No pop-up found.")
    except ElementClickInterceptedException:
        print("Pop-up close button not clickable.")

close_popup(driver)

# Initialize the page number
page_number = 1
save_directory = os.path.expanduser('~/Desktop/Homework/DDR/Final Project')  # Corrected path

while True:
    # Define the full path to the file
    file_path = os.path.join(save_directory, f"page_{page_number}.html")
    
    # Ensure the directory exists
    os.makedirs(os.path.dirname(file_path), exist_ok=True)
    
    # Pause before saving the page
    time.sleep(20)
    
    # Save the current page's HTML to the specified file path
    with open(file_path, "w", encoding="utf-8") as file:
        file.write(driver.page_source)
        print(f"Saved: {file_path}")
    
    # Pause before finding the 'next' button
    time.sleep(5)

    try:
        # Find the 'next page' button by its 'rel' attribute
        next_page_button = driver.find_element(By.CSS_SELECTOR, "a[rel='next']")

        # Scroll the button into view and try clicking
        driver.execute_script("arguments[0].scrollIntoView(true);", next_page_button)
        # Pause before clicking the 'next' button
        time.sleep(5)
        
        next_page_button.click()
        
        # Pause to wait for the next page to load
        time.sleep(5)
        
        # Increment the page number for the next iteration of the loop
        page_number += 1

    except NoSuchElementException:
        print("Next page button does not exist. Exiting the loop.")
        break
    except ElementClickInterceptedException:
        print("Next page button was not clickable. There might be an overlay or the button is obscured.")
        break

# Close the driver
driver.quit()

Pop-up closed.
Saved: /Users/xinyutu/Desktop/Homework/DDR/Final Project/page_1.html
Saved: /Users/xinyutu/Desktop/Homework/DDR/Final Project/page_2.html
Saved: /Users/xinyutu/Desktop/Homework/DDR/Final Project/page_3.html
Saved: /Users/xinyutu/Desktop/Homework/DDR/Final Project/page_4.html
Next page button does not exist. Exiting the loop.

In [10]:
for filename in sorted(os.listdir(save_directory)):  # Sort to ensure processing order
    if filename.endswith(".html"):
        filepath = os.path.join(save_directory, filename)
        with open(filepath, 'r', encoding='utf-8') as file:
            html = file.read()

        print(f"Read {filename}.")

        # Process the HTML content
        soup = BeautifulSoup(html, 'html.parser')

Read page_1.html.
Read page_2.html.
Read page_3.html.
Read page_4.html.

In [69]:

all_school_info = []

for filename in sorted(os.listdir(save_directory)):
    if filename.endswith(".html"):
        filepath = os.path.join(save_directory, filename)
        with open(filepath, 'r', encoding='utf-8') as file:
            html = file.read()

        print(f"Read {filename}.")

        # Process the HTML content
        soup = BeautifulSoup(html, 'html.parser')
        # Find all 'a' tags with the 'data-ga-event-category' attribute set to 'info'
        a_tags = soup.find_all('a', {'data-ga-event-category': 'info'})

        for a_tag in a_tags:
            school_name = a_tag.get_text(strip=True)
            if school_name:  # Only proceed if the school name is not empty
                school_info = {'name': school_name}

                # Find the parent 'tr' of the 'a' tag, as 'td' elements are usually within a 'tr'
                tr_parent = a_tag.find_parent('tr')
                if tr_parent:
                    # Find all 'td' elements within this 'tr' parent
                    td_elements = tr_parent.find_all('td', class_='jsx-3255989801')
                    # Select the second 'td' which is expected to contain the tuition span
                    if len(td_elements) > 1:
                        # The tuition amount is within a span inside the second 'td' element
                        # We use classes to find the correct span
                        tuition_span = td_elements[3].find('span', class_='jsx-3255989801 text-base text-gray')
                        
                        if tuition_span and length_div:
                            tuition = tuition_span.get_text(strip=True)
                            
                            school_info['tuition'] = tuition.replace(';', '')  # Remove semicolons if any
                            
                        else:
                            school_info['tuition'] = 'Not found'
                            

                    length_div = td_elements[3].find('div', class_='jsx-3255989801 mt-2 font-weight-medium text-md text-black text-capitalize')
                    if length_div:
                        length = length_div.get_text(strip=True).split(':')[1] # strip and get the month only
                        school_info['length'] = length.replace(';', '')  #  Remove semicolons if any
                    else:
                        school_info['length'] = 'Not found'

                    td_rank = tr_parent.find('td', class_= 'jsx-3255989801 font-weight-medium text-lg')
                    if td_rank:
                        rank = td_rank.get_text(strip=True)
                        school_info['rank'] = rank.replace('#', '')
                    else:
                        school_info['rank'] = 'Not found'
                all_school_info.append(school_info)
# Print all school information
for info in all_school_info:
    print(info)

Read page_1.html.
Read page_2.html.
Read page_3.html.
Read page_4.html.
{'name': 'Massachusetts Institute of Technology,Cambridge', 'tuition': '$87,600', 'length': '12 months', 'rank': '1'}
{'name': 'University of California,Berkeley', 'tuition': '$27,366', 'length': '1 year', 'rank': '2'}
{'name': 'University of Chicago,Chicago', 'tuition': '$57,105', 'length': '2 years', 'rank': '3'}
{'name': 'University of Pennsylvania,Philadelphia', 'tuition': '$84,874', 'length': '2 years', 'rank': '4'}
{'name': 'Columbia University,New York City', 'tuition': '$33,932', 'length': '1 year', 'rank': '5'}
{'name': 'University of California,Los Angeles', 'tuition': '$33,238', 'length': '15 months', 'rank': '6'}
{'name': 'University of Washington,Seattle', 'tuition': '$32,511', 'length': '1 year', 'rank': '7'}
{'name': 'New York University,New York City', 'tuition': '$54,516', 'length': '1 year', 'rank': '8'}
{'name': 'University of California,San Diego', 'tuition': '$15,102', 'length': '1 year', 'rank': '9'}
{'name': 'University of Texas,Austin', 'tuition': '$19,786', 'length': '10 months', 'rank': '10'}
{'name': 'University of California,Davis', 'tuition': '$48,636', 'length': '1 year', 'rank': '11'}
{'name': 'University of Wisconsin,Madison', 'tuition': '$52,188', 'length': '1 year', 'rank': '12'}
{'name': 'Washington University,St. Louis', 'tuition': '$54,014', 'length': '18 months', 'rank': '13'}
{'name': 'University of Southern California,Los Angeles', 'tuition': '$22,320', 'length': '2 years', 'rank': '14'}
{'name': 'Boston University,Boston', 'tuition': '$63,798', 'length': '16 months', 'rank': '15'}
{'name': 'University of Minnesota - Twin Cities,Minneapolis', 'tuition': '$37,640', 'length': '1 year', 'rank': '16'}
{'name': 'Purdue University,West Lafayette', 'tuition': '$18,802', 'length': '12 months', 'rank': '17'}
{'name': 'University of California,Irvine', 'tuition': '$33,238', 'length': '1 year', 'rank': '18'}
{'name': 'Emory University,Atlanta', 'tuition': '$59,920', 'length': '10 months', 'rank': '19'}
{'name': 'University of Maryland,College Park', 'tuition': '$27,075', 'length': '2 years', 'rank': '20'}
{'name': 'Michigan State University,East Lansing', 'tuition': '$29,904', 'length': '1 year', 'rank': '21'}
{'name': 'Pennsylvania State University,State College', 'tuition': '$42,151', 'length': '1 year', 'rank': '22'}
{'name': 'University of Massachusetts,Amherst', 'tuition': '$12,410', 'length': '1 year', 'rank': '23'}
{'name': 'University of Rochester,Rochester', 'tuition': '$59,100', 'length': '3 years', 'rank': '24'}
{'name': 'University of Colorado,Boulder', 'tuition': '$34,728', 'length': '10 months', 'rank': '25'}
{'name': 'University of Arizona,Tucson', 'tuition': '$33,960', 'length': '16 months', 'rank': '26'}
{'name': 'Case Western Reserve University,Cleveland', 'tuition': '$26,180', 'length': '16 months', 'rank': '27'}
{'name': 'University of Virginia,Charlottesville', 'tuition': '$43,500', 'length': '1 year', 'rank': '28'}
{'name': 'Arizona State University,Tempe', 'tuition': '$28,890', 'length': '9 months', 'rank': '29'}
{'name': 'Georgetown University,Washington', 'tuition': '$59,895', 'length': '16 months', 'rank': '30'}
{'name': 'Indiana University,Bloomington', 'tuition': '$27,113', 'length': '2 years', 'rank': '31'}
{'name': 'University of Notre Dame,Notre Dame', 'tuition': '$63,500', 'length': '1 year', 'rank': '32'}
{'name': 'Northeastern University,Boston', 'tuition': '$52,650', 'length': '1 year', 'rank': '33'}
{'name': 'University of Illinois,Chicago', 'tuition': '$25,990', 'length': '2 years', 'rank': '34'}
{'name': 'University of Miami,Coral Gables', 'tuition': '$50,841', 'length': '2 years', 'rank': '35'}
{'name': 'University of Iowa,Iowa City', 'tuition': '$18,780', 'length': '1 year', 'rank': '36'}
{'name': 'University of Utah,Salt Lake City', 'tuition': '$45,000', 'length': '2 years', 'rank': '37'}
{'name': 'George Washington University,Washington', 'tuition': '$58,950', 'length': '16 months', 'rank': '38'}
{'name': 'University of California,Riverside', 'tuition': '$60,987', 'length': '2 years', 'rank': '39'}
{'name': 'Florida State University,Tallahassee', 'tuition': '$33,300', 'length': '1 year', 'rank': '40'}
{'name': 'University of South Florida,Tampa', 'tuition': '$15,863', 'length': '1 year', 'rank': '41'}
{'name': 'University of Tennessee,Knoxville', 'tuition': '$16,054', 'length': '10 months', 'rank': '42'}
{'name': 'Drexel University,Philadelphia', 'tuition': '$41,880', 'length': '18 months', 'rank': '43'}
{'name': 'Iowa State University,Ames', 'tuition': '$31,141', 'length': '15 months', 'rank': '44'}
{'name': 'University of Georgia,Athens', 'tuition': '$24,630', 'length': '1 year', 'rank': '45'}
{'name': 'University of Colorado,Denver', 'tuition': '$19,848', 'length': '2 years', 'rank': '46'}
{'name': 'University of Kansas,Lawrence', 'tuition': '$18,862', 'length': '2 years', 'rank': '47'}
{'name': 'Temple University,Philadelphia', 'tuition': '$34,950', 'length': '1 year', 'rank': '48'}
{'name': 'University of Texas Dallas,Richardson', 'tuition': '$16,412', 'length': '2 years', 'rank': '49'}
{'name': 'University of Connecticut,Storrs', 'tuition': '$40,746', 'length': '2 years', 'rank': '50'}
{'name': 'Stevens Institute of Technology, Hoboken', 'tuition': '$42,988', 'length': ' 2 years', 'rank': '51'}
{'name': 'University of Delaware, Newark', 'tuition': '$30,840', 'length': ' 1 year', 'rank': '52'}
{'name': 'Syracuse University, Syracuse', 'tuition': '$67,392', 'length': ' 2 years', 'rank': '53'}
{'name': 'Rensselaer Polytechnic Institute, Troy', 'tuition': '$60,360', 'length': ' 1 year', 'rank': '54'}
{'name': 'University of Texas, Arlington', 'tuition': '$11,044', 'length': ' 2 years', 'rank': '55'}
{'name': 'Oklahoma State University, Stillwater', 'tuition': '$41,258', 'length': ' 2 years', 'rank': '56'}
{'name': 'University of Alabama, Tuscaloosa', 'tuition': '$32,400', 'length': ' 1 year', 'rank': '57'}
{'name': 'American University, Washington', 'tuition': '$57,660', 'length': ' 2 years', 'rank': '58'}
{'name': 'College of William & Mary, Williamsburg', 'tuition': '$29,352', 'length': ' 1 year', 'rank': '59'}
{'name': 'Bowling Green State University, Bowling Green', 'tuition': '$5,612', 'length': ' 1 year', 'rank': '60'}
{'name': 'Central Michigan University, Mount Pleasant', 'tuition': '$28,710', 'length': ' 2 years', 'rank': '61'}
{'name': 'Oakland University, Rochester', 'tuition': '$20,745', 'length': ' 2 years', 'rank': '62'}
{'name': 'University of South Dakota, Vermillion', 'tuition': '$12,768', 'length': ' 2 years', 'rank': '63'}
{'name': 'Adelphi University, Garden City', 'tuition': '$18,275', 'length': ' 2 years', 'rank': '64'}
{'name': 'Oregon State University, Corvallis', 'tuition': '$43,140', 'length': ' 2 years', 'rank': '65'}
{'name': 'University of Cincinnati, Cincinnati', 'tuition': '$33,320', 'length': ' 1 year', 'rank': '66'}
{'name': 'Wayne State University, Detroit', 'tuition': '$49,530', 'length': ' 2 years', 'rank': '67'}
{'name': 'Virginia Commonwealth University, Richmond', 'tuition': '$31,389', 'length': ' 2 years', 'rank': '68'}
{'name': 'Louisiana State University, Baton Rouge', 'tuition': '$29,450', 'length': ' 1 year', 'rank': '69'}
{'name': 'University of Massachusetts, Boston', 'tuition': '$35,693', 'length': ' 2 years', 'rank': '70'}
{'name': 'Clark University, Worcester', 'tuition': '$28,737', 'length': ' 2 years', 'rank': '71'}
{'name': 'University of Denver, Denver', 'tuition': '$68,324', 'length': ' 2 years', 'rank': '72'}
{'name': 'Fordham University, Bronx', 'tuition': '$49,710', 'length': ' 1 year', 'rank': '73'}
{'name': 'University of New Hampshire, Durham', 'tuition': '$27,810', 'length': ' 2 years', 'rank': '74'}
{'name': 'Southern Methodist University, Dallas', 'tuition': '$45,534', 'length': ' 9 months', 'rank': '75'}
{'name': 'University of North Texas, Denton', 'tuition': 'Not found', 'length': ' 2 years', 'rank': '76'}
{'name': 'Kent State University, Kent', 'tuition': '$19,186', 'length': ' 1 year', 'rank': '77'}
{'name': 'University of Wisconsin, Milwaukee', 'tuition': '$25,578', 'length': ' 2 years', 'rank': '78'}
{'name': 'Rochester Institute of Technology, Rochester', 'tuition': '$56,884', 'length': ' 1 year', 'rank': '79'}
{'name': 'University of San Francisco, San Francisco', 'tuition': '$28,970', 'length': ' 2 years', 'rank': '80'}
{'name': 'University of Central Oklahoma, Edmond', 'tuition': '$15,400', 'length': ' 2 years', 'rank': '81'}
{'name': 'Miami University, Oxford', 'tuition': '$36,336', 'length': ' 10 months', 'rank': '82'}
{'name': 'University of San Diego, San Diego', 'tuition': '$56,340', 'length': ' 2 years', 'rank': '83'}
{'name': 'San Francisco State University, San Francisco', 'tuition': '$8,722', 'length': ' 1 year', 'rank': '84'}
{'name': 'Seattle University, Seattle', 'tuition': '$29,820', 'length': ' 1 year', 'rank': '85'}
{'name': 'California State University, Los Angeles', 'tuition': '$17,752', 'length': ' 2 years', 'rank': '86'}
{'name': 'Santa Clara University, Santa Clara', 'tuition': '$42,180', 'length': ' 16 months', 'rank': '87'}
{'name': 'Villanova University, Villanova', 'tuition': '$37,890', 'length': ' 2 years', 'rank': '88'}
{'name': 'Fairfield University, Fairfield', 'tuition': '$34,650', 'length': ' 1 year', 'rank': '89'}
{'name': 'Creighton University, Omaha', 'tuition': '$29,460', 'length': ' 1 year', 'rank': '90'}
{'name': 'University of Dayton, Dayton', 'tuition': '$34,350', 'length': ' 1 year', 'rank': '91'}
{'name': 'California State University, Fullerton', 'tuition': '$8,100', 'length': ' 2 years', 'rank': '92'}
{'name': 'Thomas Jefferson University, Philadelphia', 'tuition': '$43,230', 'length': ' 2 years', 'rank': '93'}
{'name': 'DePaul University, Chicago', 'tuition': '$34,380', 'length': ' 2 years', 'rank': '94'}
{'name': "St. John's University, Jamaica", 'tuition': '$50,940', 'length': ' 2 years', 'rank': '95'}
{'name': 'Mercer University, Macon', 'tuition': '$15,318', 'length': ' 2 years', 'rank': '96'}
{'name': 'Hofstra University, Hempstead', 'tuition': '$29,970', 'length': ' 2 years', 'rank': '97'}
{'name': 'University of Louisville, Louisville', 'tuition': '$28,906', 'length': ' 1 year', 'rank': '98'}
{'name': 'Suffolk University, Boston', 'tuition': '$49,140', 'length': ' 16 months', 'rank': '99'}
{'name': 'Pace University, New York City', 'tuition': '$43,800', 'length': ' 1 year', 'rank': '100'}
{'name': 'Gannon University, Erie', 'tuition': '$32,100', 'length': ' 1 year', 'rank': '101'}
{'name': 'California State University - East Bay, Hayward', 'tuition': '$16,631', 'length': ' 2 years', 'rank': '102'}
{'name': 'Southern Illinois University, Edwardsville', 'tuition': '$15,750', 'length': ' 2 years', 'rank': '103'}
{'name': 'University of Akron, Akron', 'tuition': '$30,672', 'length': ' 2 years', 'rank': '104'}
{'name': 'University of Texas, Tyler', 'tuition': '$30,810', 'length': ' 2 years', 'rank': '105'}
{'name': 'Texas A&M University, Commerce', 'tuition': '$34,980', 'length': ' 1 year', 'rank': '106'}
{'name': 'Wingate University, Wingate', 'tuition': '$21,000', 'length': ' 2 years', 'rank': '107'}
{'name': 'University of West Georgia, Carrollton', 'tuition': '$20,820', 'length': ' 1 year', 'rank': '108'}
{'name': 'Lamar University, Beaumont', 'tuition': '$23,384', 'length': ' 2 years', 'rank': '109'}
{'name': 'Wright State University, Dayton', 'tuition': '$29,880', 'length': ' 2 years', 'rank': '110'}
{'name': 'Wilmington University, New Castle', 'tuition': '$17,310', 'length': ' 2 years', 'rank': '111'}
{'name': 'Babson College, Wellesley', 'tuition': '$54,600', 'length': ' 9 months', 'rank': '112'}
{'name': 'California Polytechnic State University, San Luis Obispo', 'tuition': '$19,974', 'length': ' 10 months', 'rank': '113'}
{'name': 'California State University, Sacramento', 'tuition': '$8,100', 'length': ' 2 years', 'rank': '114'}
{'name': 'Bentley University, Waltham', 'tuition': '$50,310', 'length': ' 2 years', 'rank': '115'}
{'name': 'University of St. Thomas, Saint Paul', 'tuition': '$40,680', 'length': ' 2 years', 'rank': '116'}
{'name': 'University of Pacific, Stockton', 'tuition': '$51,243', 'length': ' 2 years', 'rank': '117'}
{'name': 'University of Dallas, Irving', 'tuition': '$24,000', 'length': ' 2 years', 'rank': '118'}
{'name': 'Westminster College Salt Lake City, Salt Lake City', 'tuition': '$57,461', 'length': ' 3 years', 'rank': '119'}
{'name': 'Moravian College, Bethlehem', 'tuition': '$37,008', 'length': ' 2 years', 'rank': '120'}
{'name': 'Wittenberg University, Springfield', 'tuition': '$34,350', 'length': ' 2 years', 'rank': '121'}
{'name': 'Rider University, Lawrenceville', 'tuition': '$32,400', 'length': ' 2 years', 'rank': '122'}
{'name': 'Benedictine University, Lisle', 'tuition': '$24,000', 'length': ' 2 years', 'rank': '123'}
{'name': 'The College of Saint Rose, Albany', 'tuition': '$25,890', 'length': ' 2 years', 'rank': '124'}
{'name': 'Bellevue University, Bellevue', 'tuition': '$19,470', 'length': ' 2 years', 'rank': '125'}
{'name': 'Hult International Business School, Cambridge', 'tuition': '$56,700', 'length': ' 1 year', 'rank': '126'}
{'name': 'University of Wisconsin, Whitewater', 'tuition': '$10,153', 'length': ' 2 years', 'rank': '127'}
{'name': 'University of Michigan, Dearborn', 'tuition': '$66,625', 'length': ' 2 years', 'rank': '128'}
{'name': 'DeVry University, Naperville', 'tuition': '$23,280', 'length': ' 2 years', 'rank': '129'}
{'name': "Saint Peter's University, Jersey City", 'tuition': '$29,250', 'length': ' 1 year', 'rank': '130'}
{'name': 'DeVry University - California, Long Beach', 'tuition': '$23,280', 'length': ' 2 years', 'rank': '131'}
{'name': 'Dakota State University, Madison', 'tuition': '$10,773', 'length': ' 2 years', 'rank': '132'}
{'name': 'Southern New Hampshire University, Manchester', 'tuition': '$12,978', 'length': ' 1 year', 'rank': '133'}
{'name': 'New York Institute of Technology, New York City', 'tuition': '$44,100', 'length': ' 2 years', 'rank': '134'}
{'name': 'University of Southern Maine, Portland', 'tuition': '$40,500', 'length': ' 2 years', 'rank': '135'}
{'name': 'Lewis University, Romeoville', 'tuition': '$25,350', 'length': ' 2 years', 'rank': '136'}
{'name': 'University of Washington, Tacoma', 'tuition': '$31,746', 'length': ' 21 months', 'rank': '137'}
{'name': 'Tiffin University, Tiffin', 'tuition': '$27,000', 'length': ' 1 year', 'rank': '138'}
{'name': 'University of Central Missouri, Warrensburg', 'tuition': '$21,360', 'length': ' 2 years', 'rank': '139'}
{'name': 'Kogod School of Business, Washington', 'tuition': '$57,660', 'length': ' 2 years', 'rank': '140'}
{'name': 'University of New Haven, West Haven', 'tuition': '$31,650', 'length': ' 18 months', 'rank': '141'}
{'name': 'MIT Sloan School of Management, Cambridge', 'tuition': '$87,600', 'length': ' 12 months', 'rank': '142'}
{'name': 'Darden School of Business, Charlottesville', 'tuition': '$43,500', 'length': ' 1 year', 'rank': '143'}
{'name': 'Stern School of Business, New York City', 'tuition': '$54,516', 'length': ' 1 year', 'rank': '144'}
{'name': 'Anderson School of Management, Los Angeles', 'tuition': '$33,238', 'length': ' 15 months', 'rank': '145'}
{'name': 'Goizueta Business School, Atlanta', 'tuition': '$59,920', 'length': ' 10 months', 'rank': '146'}
{'name': 'Marshall Business School, Los Angeles', 'tuition': '$22,320', 'length': ' 2 years', 'rank': '147'}
{'name': 'Olin Business School, St. Louis', 'tuition': '$54,014', 'length': ' 18 months', 'rank': '148'}
{'name': 'Mendoza College of Business, Notre Dame', 'tuition': '$63,500', 'length': ' 1 year', 'rank': '149'}
{'name': 'W. P. Carey School of Business, Tempe', 'tuition': '$28,890', 'length': ' 9 months', 'rank': '150'}
{'name': 'Eli Broad College of Business, East Lansing', 'tuition': '$24,810', 'length': ' 1 year', 'rank': '151'}
{'name': 'Questrom School of Business, Boston', 'tuition': '$63,798', 'length': ' 16 months', 'rank': '152'}
{'name': 'Robert H. Smith School of Business, College Park', 'tuition': '$27,075', 'length': ' 1 year', 'rank': '153'}
{'name': 'Krannert School of Management, West Lafayette', 'tuition': '$18,802', 'length': ' 12 months', 'rank': '154'}
{'name': 'Wisconsin School of Business, Madison', 'tuition': '$52,188', 'length': ' 1 year', 'rank': '155'}
{'name': 'Carlson School of Management, Minneapolis', 'tuition': '$37,640', 'length': ' 1 year', 'rank': '156'}
{'name': 'Simon Business School, Rochester', 'tuition': '$59,100', 'length': ' 3 years', 'rank': '157'}
{'name': 'Zicklin School of Business, New York City', 'tuition': '$25,650', 'length': ' 2 years', 'rank': '158'}
{'name': 'Beacom School of Business, Vermillion', 'tuition': '$12,768', 'length': ' 2 years', 'rank': '159'}
{'name': 'Fox School of Business and Management, Philadelphia', 'tuition': '$33,420', 'length': ' 1 year', 'rank': '160'}
{'name': 'Alfred Lerner College of Business and Economics, The University of Delaware, Newark', 'tuition': '$35,000', 'length': ' 2 years', 'rank': '161'}
{'name': 'Rady School of Management, La Jolla', 'tuition': '$15,102', 'length': ' 1 year', 'rank': '162'}
{'name': 'Sawyer Business School, Boston', 'tuition': '$45,570', 'length': ' 1 year', 'rank': '163'}
{'name': 'Muma College of Business, University of South Florida, Tampa', 'tuition': '$15,863', 'length': ' 1 year', 'rank': '164'}
{'name': 'Masagung Graduate School of Management, San Francisco', 'tuition': '$36,600', 'length': ' 2 years', 'rank': '165'}
{'name': 'Tobin College of Business, Jamaica', 'tuition': '$50,940', 'length': ' 1 year', 'rank': '166'}
{'name': 'College of Business, University of Texas at Arlington, Arlington', 'tuition': '$11,044', 'length': ' 1 year', 'rank': '167'}
{'name': 'Saunders College of Business, Rochester', 'tuition': '$56,884', 'length': ' 1 year', 'rank': '168'}
{'name': 'Miami Business School, Coral Gables', 'tuition': '$60,900', 'length': ' 1 year', 'rank': '169'}
{'name': 'School of Business, Wake Forest University, Winston-Salem', 'tuition': '$51,084', 'length': ' 1 year', 'rank': '170'}

In [70]:
# Specify the CSV file name
csv_file_path = os.path.join(save_directory, 'collegedunia.csv')

# Writing to CSV
with open(csv_file_path, mode='w', newline='', encoding='utf-8') as file:
    # Assuming all dictionaries in schools_info have the same structure
    fieldnames = ['name', 'rank', 'length', 'tuition']  # Define the column headers
    writer = csv.DictWriter(file, fieldnames=fieldnames)

    writer.writeheader()  # Write the column headers

    for school in all_school_info:
        writer.writerow(school)  # Write each school's information as a row

print(f"Data saved to {csv_file_path}.")

Data saved to /Users/xinyutu/Desktop/Homework/DDR/Final Project/collegedunia.csv.